
@mixin responsive($size) {
   @media screen and (min-width: $size) {
      @content;
   }
}

@mixin button($display) {
   display: $display;
   border: 1px solid $VeryLightGray;
   padding: 1rem 2rem;
   font-size: 1.6rem;
   color: $VeryLightGray;
   text-transform: uppercase;
   font-weight: 700;
   background-color: transparent;
   cursor: pointer;
   outline: none;
   transition: all 400ms ease;

   &:hover {
      background-color: $VeryLightGray;
      color: $DarkViolet;
   }
}