
.footer {

   &-main {
      padding-top: 6rem;
      padding-bottom: 4rem;
      display: grid;
      
      @include responsive(768px) {
         grid-template-columns: repeat(4, 1fr);
         padding-bottom: 6rem;
      }

      &__item {
         margin-bottom: 5rem;

         @include responsive(768px) {
            margin-bottom: 0;
         }
      }

      &__title,
      &__link {
         font-size: 1.7rem;
         font-family: $fontBody;
         font-weight: 700;
         text-transform: uppercase;
         text-align: center;

         @include responsive(768px) {
            text-align: left;
            font-size: 1.5rem;
         }
      }

      &__title {
         margin-bottom: 3rem;
         color: $DarkGrayishViolet;
      }

      &__link {
         display: block;
         margin-bottom: 2rem;
         color: $VeryDarkViolet;

         &:hover {
            text-decoration: underline;
         }
      }
   }
}