
.navigation {
   background-color: $VeryLightGray;
   position: sticky;
   top: 0;
   height: 7rem;
   z-index: 20;
   
   .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
   }

   /* Logo */
   &-brand {

      &__image {
         width: 10rem;

         @include responsive(768px) {
            width: 15rem;
         }
      }
   }

   /* Menu */
   &-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $VeryDarkViolet;
      padding-top: 5rem;

      position: fixed;
      top: 7rem;
      left: 0;
      width: 100%;
      height: calc(100vh - 7rem);
      transition: all 600ms ease;
      transform: translateY(2000px);
      z-index: 10;

      @include responsive(768px) {
         position: initial;
         transform: translateY(0);
         background-color: transparent;
         height: 100%;
         padding-top: 0;
         flex-direction: row;
         justify-content: flex-end;
         align-content: center;
      }
      
      &:before {
         content: '';
         display: block;
         position: absolute;
         width: 100%;
         height: 100%;
         background-image: url('/bg-pattern-mobile-nav.svg');
         background-position: bottom center;
         background-size: contain;
         background-repeat: no-repeat;
       
         @include responsive(768px) {
            display: none;
         }
      }

      &.active {
         transform: translateY(0);
      }

      &__item {
         margin-bottom: 3rem;

         @include responsive(768px) {
            margin-bottom: 0;
            margin-right: 2rem;

            &:last-of-type {
               margin-right: 0;
            }
         }
      }

      &__link {
         color: $VeryLightGray;
         font-size: 2rem;
         text-transform: uppercase;

         @include responsive(768px) {
            color: $DarkViolet;
            display: block;
            font-size: 1.5rem;
            font-weight: 700;
            color: $DarkGrayishViolet;
            transition: color 300ms ease;

            &:hover {
               color: $DarkViolet;
            }
         }

         &--plans {
            border: 2px solid $VeryLightGray;
            padding: 1.25rem 8rem;

            @include responsive(768px) {
               padding: 0.7rem 2rem;
               border: 2px solid $DarkViolet;
               color: $DarkViolet;
               transition: all 400ms ease;

               &:hover {
                  background-color: $DarkViolet;
                  color: $VeryLightGray;
               }
            }
         }
      }
   }

   /* Bars Button */
   &-bars {

      @include responsive(768px) {
         display: none;
      }

      &__button {
         border: none;
         background-color: transparent;
         font-size: 2rem;
         color: $DarkViolet;
         cursor: pointer;

         &:focus {
            outline: none;
         }
      }
   }
}