
.link-plans {
   border: 2px solid $VeryLightGray;
   padding: 1.25rem 8rem;

   @include responsive(768px) {
      padding: 0.7rem 2rem;
      border: 2px solid $DarkViolet;
      color: $DarkViolet;
      transition: all 400ms ease !important;

      &:hover {
         background-color: $DarkViolet;
         color: $VeryLightGray !important;
      }
   }
}