
.services {
   padding-top: 14rem;
   padding-bottom: 14rem;
   
   &__title {
      text-align: center;
      font-size: 5rem;
      margin-bottom: 8rem;
      color: $VeryDarkViolet;
      position: relative;

      @include responsive(768px) {
         text-align: left;
      }

      &:before {
         content: '';
         display: block;
         width: 14rem;
         height: 1px;
         background-color: $DarkGrayishViolet;
         position: absolute;
         top: -3rem;
         left: 50%;
         transform: translateX(-50%);

         @include responsive(768px) {
            left: 0;
            transform: translateX(0);
         }
      }
   }

   &__main {
      display: grid;

      @include responsive(768px) {
         grid-template-columns: repeat(3, 1fr);
         grid-column-gap: 4rem;
      }
   }

   &__item {
      display: grid;
      justify-items: center;
      margin-bottom: 4rem;

      @include responsive(768px) {
         justify-items: start;
         margin-bottom: 0;
      }

      &:last-child {
         margin-bottom: 0;
      }
   }

   &__icon {
      width: 8rem;
   }

   &__name {
      font-size: 2.25rem;
      margin-top: 3rem;
      margin-bottom: 0.75rem;
      color: $VeryDarkViolet;
      text-transform: capitalize;

      @include responsive(768px) {
         margin-bottom: 1rem;
      }
   }

   &__description {
      font-size: 1.6rem;
      text-align: center;
      color: $DarkGrayishViolet;
      line-height: 1.6;

      @include responsive(768px) {
         text-align: left;
         margin-top: 0;
      }
   }
}