
.navigation {
   background-color: $VeryLightGray;
   position: sticky;
   top: 0;
   height: 7rem;
   z-index: 20;
   
   .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
   }

   /* Logo */
   &-brand {

      &__image {
         width: 15rem;
      }
   }

   /* Menu */
   &-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $VeryDarkViolet;
      padding-top: 5rem;

      position: fixed;
      top: 7rem;
      left: 0;
      width: 100%;
      height: calc(100vh - 7rem);
      transition: all 600ms ease;
      transform: translateY(2000px);
      z-index: 10;

      &.active {
         transform: translateY(0);
      }

      &__item {
         margin-bottom: 3rem;
      }

      &__link {
         color: $VeryLightGray;
         font-size: 2rem;
         text-transform: uppercase;
      }
   }

   /* Bars Button */
   &-bars {

      &__button {
         border: none;
         background-color: transparent;
         font-size: 2rem;
         color: $DarkViolet;

         &:focus {
            outline: none;
         }
      }
   }
}